{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>{{ titulo_pagina }}</title>
</head>
<body>
<h1>{{ titulo_pagina }}</h1>
<form method="post">
    {% csrf_token %}

    <label>Imagen (URL): <input type="url" name="imagen"></label><br>
    <label>Título: <input type="text" name="titulo" required></label><br>
    <label>Año de estreno: <input type="number" name="anio" required></label><br>
    <label>Duración (min): <input type="number" name="duracion"></label><br>
    <label>Cantidad de temporadas: <input type="number" name="temporadas"></label><br>
    <label>Calificación general: <input type="number" step="0.1" name="calificacion"></label><br>
    <label>Sinopsis: <textarea name="sinopsis"></textarea></label><br>
    <label>Género: <input type="text" name="genero" required></label><br>
    <label>Reparto (separado por comas): <textarea name="reparto"></textarea></label><br>
    <label>Clasificación por edad: <input type="text" name="clasificacion"></label><br>
    <label>Plataforma: <input type="text" name="plataforma"></label><br>

    <button type="submit">Guardar</button>
    <a href="{% url 'inicio' %}">Volver al inicio</a> |
</form>
</body>
</html>