{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ titulo_pagina }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'peliculas/css/detalles.css' %}">
{% endblock %}

<!-- esta pagina si puede volver al inicio-->
{% block navegacion %}
    {% include "componentes/navegacion.html" %}
{% endblock %}

{% block content %} <!-- inicia contenido que se va mostrar-->

    {% if pelicula %}
        <div class="Tarjeta">

            <img src="{{ pelicula.imagen }}" alt="Póster de {{ pelicula.titulo }}" style="width:200px; border-radius:10px;">

            <h1 class="titulo-destacable">{{ pelicula.titulo|upper }}</h1> <!-- filtro: convierte el texto a mayúsculas.-->

            <p>Año: {{ pelicula.anio }} — Duración: {{ pelicula.duracion }} min</p>
            <p>Género: {{ pelicula.genero }}</p>
            <p>Clasificación: {{ pelicula.clasificacion }}</p>
            <p>Plataforma: {{ pelicula.plataforma }}</p>

            <p>Calificación general: {{ pelicula.calificacion|default:"Sin calificación aún" }}</p><!-- filtro: valor alternativo cuando la variable está vacía. -->

            <h2>Sinopsis</h2>
            <p>{{ pelicula.sinopsis }}</p>

            <h2>Reparto ({{ reparto|length }})</h2><!-- filtro: cantidad de elementos de una lista, o la longitud de un texto.-->
            <ul>
                {% for actor in reparto %}
                    <li>{{ actor }}</li>
                    {% empty %} <!-- se ejecuta si reparto está vacío.-->
                    <li>Reparto no cargado.</li>
                {% endfor %}
            </ul>
            <p>
                <!--<a href="{% url 'inicio' %}" class="btn">Volver al inicio</a> -->
                <a href="{% url 'peliculas:agregar' %}" class="btn">Agregar otra</a>
            </p>
        </div>

    {% else %}
        <p>Película no encontrada.</p>
    {% endif %}

{% endblock %} <!-- fin de contenido.-->