{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo_pagina }}</title>
</head>
<body>
    <h1>{{ titulo_pagina }}</h1>
    <p><a href="{% url 'peliculas:agregar' %}">Agregar película</a></p>

    {% for pelicula in peliculas %}
        <p>
            <img src="{{ pelicula.imagen }}" width="200" alt="Póster de {{ pelicula.titulo }}">
            {{ pelicula.titulo }}
            <a href="{% url 'peliculas:resenas_pelicula' pelicula.id %}">Ver película</a>
        </p>
    {% empty %}
        <p>Todavía no hay películas cargadas.</p>
    {% endfor %}

</body>
</html>